{
    "name": "my-awesome-app",
    "version": "0.0.0-development",
    "private": true,
    "scripts": {
        "start": "react-scripts start",
        "build": "react-scripts build",
        "test": "react-scripts test",
        "test:ci": "cross-env CI=true react-scripts test",
        "test:ci:alt": "react-scripts test --ci --watchAll=false",
        "test:jsdom": "yarn test --env=jsdom",
        "test:staged": "yarn test:ci --findRelatedTests",
        "test:coverage": "yarn test:ci --coverage",
        "eject": "react-scripts eject",
        "lint": "tsc --noEmit && eslint src/*.ts{,x}",
    },
}
